.navbar{
    border: 5px solid black;
}

.navbar{
    border: 5px solid black;
}

.Title{
    font-size: 75px;
    text-align: center;
    
}

.greeting{
    text-align: center;
    font-size: 50px;
}

.Intro{
    text-align:left;
    text-indent: 2%;
}

.start{
    text-align: center;
    font-size: 50px;
}

.guide{
    text-align:left;
    text-indent: 2%;
}


.card {
    display: flex;
    float:inline-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 1000px;
    height: 100%;
}

#pfActress {
    float: right;
    width: 2000px;
}